<div class="search-field">
  <input 
    type="text" 
    class="search-input" 
    placeholder="Search anything related to student..."
    [(ngModel)] = "queryString"
  >
</div>

<div class="input-fields">
  <label for="name"></label>
  <input id="name" type="text" #name>
  <label for="age"></label>
  <input id="age" type="text" #age>
  <label for="dob"></label>
  <input type="date" id="dob" #dob>
  <button type="submit" (click)="addStudent(name.value, age.value, dob.value)">add student</button>
</div>

<table>
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Date of Birth</th>
  </tr>
  <tr class="list-view" *ngFor="let e of students | FilterPipe: queryString">
    <td>{{e.name}}</td>
    <td>{{e.age}}</td>
    <td>{{e.DOB | date: 'longDate'}}</td>
  </tr>
</table>



